{# src/Ulost/AdminBundle/Resources/views/Advert/index.html.twig #}

{% extends "UlostCoreBundle::layout.html.twig" %}


{% block Core_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
          {{ advert.title }}

        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}