{# src/Ulost/CoreBundle/Resources/views/Advert/villes.html.twig #}
{% extends "UlostCoreBundle::layout.html.twig" %}
	{% block Core_body %}



	<div id="tip">&nbsp;</div>
	<div id="cmap"></div>	
{% endblock %}