
<h1>Liste des Villes</h1>


<div>
    <table>

        <tr>
            {# sorting of properties based on query components #}

            <th{% if pagination.isSorted('ville.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Nom', 'ville.name') }}
            </th>

        </tr>

        {# table body #}
        {% for ville in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>

                    <h5>{{ ville.name }}</h5>

                </td>

            </tr>

        {% endfor %}

    </table>
</div>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
