{# src/Ulost/AdminBundle/Resources/views/Objet/indexone.html.twig #}

{% extends "UlostCoreBundle::layout.html.twig" %}
	{% block Core_body %}

<h2> ajouter une question </h2>

En construction

<h2> voir la liste des objets </h2>

{{ render(controller("UlostCoreBundle:Objet:showOne", {'id': id})) }}

{% endblock %}