{# src/Ulost/AdminBundle/Resources/views/Objet/index.html.twig #}

{% extends "UlostAnnonceBundle::layout.html.twig" %}

{% block Core_body %}

       <a href="{{ path('ulost_admin_annonceall') }}" class="button">Voir toutes les annonces</a>


    <h2>Voir les annonces par ville :</h2>



    </br></br>
    {% endblock %}





