{# src/Ulost/MunicipaleBundle/Resources/views/Home/objet_annonces.html.twig #}

{% extends "UlostMunicipaleBundle::layout.html.twig" %}
	{% block Municipale_body %}
	
	<h1> Toutes les annonces de la ville </h1>
<div class="banniere"> 
	<p>Selectionnez le numéro de la colonne de gauche pour aller sur l'annonce
 et poursuivre la procédure </p>
 </div>
	
	{{ include ('UlostMunicipaleBundle:Home:search.html.Twig') }}
	
	{{ include ('UlostMunicipaleBundle:Home:table_annonce.html.Twig') }}

	<ul>
		{% for num in 1..nbPages %}
			<a href="{{path('ulost_municipale_objet_ville_annonce_param', {'page':num, 'objet':objet, 'codepostal':municipale.codepostal})}}">
				<li> 
					{{ num }}
				</li>
			</a>
		{% endfor %}
		</ul>

	{% endblock %}
