{% extends "UlostObjectBundle::layout.html.twig" %}
 {% block Core_body %}
<div>  <a href="{{ path('ulost_index_service') }}" class="button">Retour à la liste des services</a>
</div>
{{ include("UlostMunicipaleBundle:AdminService:formService.html.twig") }}

 {% endblock %}


