{# src/Ulost/MunicipaleBundle/Resources/views/Depot/index.html.twig #}

{% extends "UlostMunicipaleBundle::layout.html.twig" %}
	{% block Municipale_body %}
	
	
	
	<h1> Pour déposer un objet dans le stock</h1>
	
	{{ render(controller("UlostCoreBundle:Home:lastAdvert")) }}
	
	{% endblock %}
