{# src/Ulost/AdminBundle/Resources/views/Objet/index.html.twig #}

{% extends "UlostAnnonceBundle::layout.html.twig" %}

{% block Core_body %}

    <h2> Liste des annonces de la ville {{ ville.name }} ({{ ville.codePostal }})</h2>

    {{ include("UlostAnnonceBundle:Advert:showall.html.twig") }}

{% endblock %}