{# src/Ulost/AdminBundle/Resources/views/Objet/index.html.twig #}
{% extends "UlostCoreBundle::layout.html.twig" %}

{% block Core_body %}
        <h2> voir la liste des annonces </h2>

        {{ include("UlostAnnonceBundle:Advert:showall.html.twig") }}

{% endblock %}